[submodule "GameEngine/vendors/spdlog"]
	path = GameEngine/vendors/spdlog
	url = https://github.com/gabime/spdlog
[submodule ".\\GameEngine\\vendors\\GLFW"]
	path = .\\GameEngine\\vendors\\GLFW
	url = https://github.com/TheCherno/GLFW
[submodule ".\\GameEngine\\vendors\\imgui"]
	path = .\\GameEngine\\vendors\\imgui
	url = https://github.com/TheCherno/imgui
